<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/fragments.html :: headerfiles(title='Index  : :  Hogwarts')}">
</head>
<body>
	<div th:insert="~{fragments/fragments.html :: header (page='')}"></div>
	<div th:insert="~{fragments/fragments.html :: list (users=${users}, spells=${spells}, type=${type})}"></div>
    <footer th:insert="~{fragments/fragments.html :: footer}">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>