<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/fragments.html :: headerfiles(title='Ver Marca :: Concesionario')}">
</head>
<body>
    <div th:insert="~{fragments/fragments.html :: header (page='marcas')}"></div>
    <div class="container">
        <div class="page-header mt-2">
            <h1 th:text="*{marca.nombremarca}"></h1>
        </div>
        <div class="mt-4">
            <h5>Detalles de la marca:</h5>
            <ul>
                <li><strong>Fundación:</strong> <span th:text="${marca.fundacion}"></span></li>
                <li><strong>Patrimonio:</strong> <span th:text="${marca.patrimonio}"></span> <span th:text="${marca.moneda}"></span></li>
            </ul>
        </div>
    </div>
    <footer th:insert="~{fragments/fragments.html :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>